.sidebarChats{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #f6f6f6;
    height: 40px;
    
}
.sidebarChats:hover{
    background-color: #ebebeb;
}
a{
    text-decoration: none !important;
}

.sidebarChats__info>h2{
    font-size: 15px;
    margin-bottom: 8px;
    text-decoration: none !important;

    
}

.sidebarChats__info{
    margin-left: 15px;
    margin-top: -10px;
    padding-bottom: 5px;
    color: black;
    text-decoration: none;
}
